@model IEnumerable<StudentOrganization.Models.News>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Results</h2>

<div class="row row-cols-1 row-cols-md-2 mt-4">


    @foreach (var n in ViewBag.News)
    {
        <div class="col-sm-6 mb-4">
            <div class=" card-h100 border ">
                <form action="/detailsNews" method="get">
                    <img src="@n.picture_url" height="225" class="card-img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@n.title</h5>
                        <p class="card-text">@n.short_description</p>
                        @*<a href="/detailsNews?id=<%=n.getId()%>">Read More</a>*@
                        @Html.ActionLink("Read More", "Details", new { id = n.id })
                    </div>
                </form>
            </div>
        </div>
    }
</div>
